@import './partiels/colors';
@import './partiels/variabels';
@import './partiels/mixins';
@import './partiels/typogprahy';
@import './partiels/reset';


.header{
    border: 3px solid $Header-Outline;
    padding: 2rem;
    border-radius: 10px;
    margin: 2.2rem;
    display: flex;
    justify-content: space-between;

    &__title{
        font-size: 2.3rem;
    }

    &__score-box{
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 6px;
        text-align: center;
        
    }

    &__score-number{
        display: inline-block;
        margin-top: 1rem;
        color: black;
        font-size: 3.2rem;
        font-weight: bold;
    }

    &__score-title{
        font-size: 1.7rem;
        color: $Score-Text;
    }
    @include desktop{
        &{
            width: 80%;
            margin-inline: auto;
        }
        &__title{
            font-size: 3.5rem;
        }
   
        &__score-box{
         padding-top: 2rem;
         padding-inline: 3.5rem;
        }

        &__score-number{
         font-size: 3.6rem;
        }
        
        &__score-title{
         font-size: 2.4rem;
        }
    }
}