@import './partiels/colors';
@import './partiels/variabels';
@import './partiels/mixins';
@import './partiels/typogprahy';
@import './partiels/reset';
@import './partiels/header';

main{
    margin: 6rem 3rem;
}


.steps-container{
  text-align: center;
}

.steps__paper::before{
  border-color:hsl(230, 89%, 65%);
  background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));

}
.steps__paper::after{
  left: 100%;
}

.steps__scissors::after{
  top: 110%;
  z-index: -33333;
  right: 50%;
  transform: rotate(-50deg);
}
.steps__scissors::before{
  border-color:hsl(39, 89%, 49%);
  background-image: linear-gradient(hsl(39, 89%, 49%),  hsl(40, 84%, 53%));

}

.steps__rock::after{
  top: -12%;
  left: -10%;
  z-index: -555;
  transform: rotate(55deg);
}

.steps__rock::before{
  border-color: hsl(349, 71%, 52%);
  background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));

}

