*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    color: white;
   background:radial-gradient( hsl(214, 47%, 23%) , hsl(237, 49%, 15%));   ;
}

ul{
    list-style: none;

}

a{
    text-decoration: none;
    font-family: inherit;
}


.container{
    max-width: 100rem;
    margin-inline: auto;
    border: 4px solid #ffff;
    margin: 1rem;
    padding: 1rem;
}