*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    max-width: 100rem;
    margin-inline: auto;
    // margin: 1rem;
    padding: 1rem;
    color: white;
   background:radial-gradient( hsl(214, 47%, 23%) , hsl(237, 49%, 15%));   ;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-family: inherit;
}



.step{
    position: relative;
     height: 16rem;
     z-index: 99999;
     width: 16rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    margin: 2rem;
    cursor: pointer;
    transition: transform 0.3s;
    &:hover{
        transform: scale(1.1);
    }
    img{
        height: 5rem;
        width: 5rem;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 18px; /* control the border thickness */
         -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        border-style:groove;
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;
       
      }
      &::after{
        content: '';
        height: 1rem;
        width: 50%;
        background-color:  hsla(238, 48%, 15%, 0.649);
        position: absolute;
      }
      @include desktop{
        height: 20rem;
        width: 20rem;
      }
}